.burger-menu {
  display: none;
  // width="38" height="48"
  width: 38px;
  height: 48px;

  @media screen and (max-width: 775px) {
    & {
      display: block;
    }
  }

  @media screen and (max-width: 410px) {
    & {
      width: 28px;
      height: 38px;
    }
  }
}
