.experience {
  margin-bottom: 50px;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1170px) {
      & {
        flex-direction: column;
      }
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;

    @media (max-width: 930px) {
      & {
        width: 100%;
      }
    }

    @media (max-width: 730px) {
      & {
        gap: 30px;
        margin-bottom: 30px;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    gap: 40px;
    width: 40%;

    @media (max-width: 730px) {
      & {
        width: 100%;
      }
    }

    &-title {
      font-size: 60px;
      font-weight: 700;
      line-height: 70px;
      color: $color-blue;
    }

    &-content {
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
      color: $color-light;
    }
  }
}

.experience-card {
  position: relative;

  min-height: 155px;

  display: flex;
  flex-direction: column;

  padding: 20px;
  background-color: $color-white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &__icon {
    position: absolute;

    &--right {
      right: -40px;
      top: -40px;
    }

    &--left {
      left: -40px;
      top: -40px;
    }

    &--bottom {
      right: -40px;
      bottom: -40px;
    }
  }

  &__digit {
    font-size: 79px;
    font-weight: 600;
    color: $color-dark;
  }

  &__description {
    position: relative;
    align-self: center;
    font-size: 24px;
    font-weight: 400;
    color: $color-light;

    &::before {
      content: "";
      position: absolute;
      left: -12px;
      width: 7px;
      height: 25px;
      background-color: $color-orange;
    }
  }
  &--clients {
    width: 280px;
    transform: translate(100%);
    z-index: 1;

    @media (max-width: 730px) {
      & {
        transform: translate(0);
      }
    }
  }

  &--projects {
    width: 360px;
    transform: translateY(-20%);

    @media (max-width: 730px) {
      & {
        transform: translate(0);
      }
    }
  }

  &--awards {
    width: 270px;
    transform: translate(70%, -30%);
    z-index: 1;

    @media (max-width: 730px) {
      & {
        transform: translate(0);
      }
    }
  }

  &--business {
    width: 330px;
    transform: translate(20%, -40%);

    @media (max-width: 730px) {
      & {
        transform: translate(0);
      }
    }
  }
}
