.page-nav {

  &__list {
    display: flex;
    align-items: center;
    gap: 50px;

    @media screen and (max-width: 880px) {
      & {
        gap: 25px;
      }
    }
  }

  &__item {
    font-size: 18px;
    color: $color-medium;

    &:hover {
      color: $color-orange;
    }

    @media screen and (max-width: 880px) {
      & {
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: 775px) {
    & {
      display: none;
    }
  }
}
