.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;

  &__text {
    color: $color-blue;
    font-weight: 700;
    font-size: 30px;
  }
}

.burger-menu {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 50px;

  &__item {
    font-size: 18px;
    color: $color-medium;

    &:hover {
      color: $color-orange;
    }
  }

  @media (max-width: 880px) {
    & {
      gap: 25px;
    }
  }
}

@media (max-width: 775px) {
  .burger-menu {
    display: block;
  }

  .nav {
    display: none;
  }
}
