.dots {
  display: flex;
  gap: 16px;

  &__item {
    height: 16px;
    width: 15px;
    border-radius: 50%;
    background-color: $color-light;

    &:hover {
      background-color: $color-blue;
      cursor: pointer;
    }

    &:active {
      background-color: $color-blue;
    }

    @media screen and (max-width: 645px) {
      & {
       height: 12px;
       width: 12px;
      }
    }
  }

  @media screen and (max-width: 645px) {
    & {
      gap: 10px;
    }
  }

  @media screen and (max-width: 450px) {
    & {
     gap: 4px;
    }
  }
}
