@font-face {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  src: url("./assets/fonts/Inter-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  src: url("./assets/fonts/Inter-Regular.ttf");
}
