$color-background-primary: rgba(255, 255, 255, 1);
$color-background-secondary: rgba(246, 248, 247, 1);

$color-blue: rgba(53, 89, 199, 1);
$color-orange: rgba(249, 153, 93, 1);

$color-dark: rgba(41, 46, 61, 1);
$color-medium-dark:rgba(61, 68, 92, 1);
$color-medium: rgba(20, 23, 31, 1);
$color-light: rgba(133, 142, 173, 1);
$color-white: rgba(255, 255, 255, 1);

$color-border: rgba(224, 227, 235, 1);
